body {
  background-color: black;
}

h1 {
  font-family: monospace;
  color: white;
  text-align: center;
}

h2 {
  font-family: monospace;
  color: white;
  text-align: center;
}

p { 
  font-family: monospace;
  color: white;
}

.nav-item { 
  font-family: monospace;
  font-size: x-large;
}

.my-picture {
  border-radius: 25px;
  height: 100px;
  max-width: 50px;
  margin: 0;
  padding: 0;
  align-self: flex-end;
}

.picture-container {
  float: right;
  width: 50%;
  height: auto;
}

img {
  width: 175%;
  height: auto;
}

.navbar {
  background-color: #52297A;
}

.card {
  background-color: black;
  margin-top: 20px;
  margin-left: 25px;
  margin-right: auto;
}

.card-header {
  color: gray;
}

.card-title {
  color: gray;
}

.card-body {
  background-color:black;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  border: 1px solid white;
}

.card-img-top {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.btn { 
  background-color: #52297A;
  color: white;
}

.float-right {
    float: right;
    margin-right: 20px;
}

.float-left {
    float: left;
    margin-left: 20px;
}

.card.img {
    height:5px;
    width:20%;
}

.fa {
    padding: 20px;
    font-size: 40px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
  }
  
.fa-linkedin {
    background: #007bb5;
    color: white;
  }

footer {
  display: flex;
  align-items: center;
  justify-content: center;
}  