body {
  background-color: black;
}

h1 {
  font-family: monospace;
  color: white;
  text-align: center;
}

h2 {
  font-family: monospace;
  color: white;
  text-align: center;
}

h3 {
  color: white;
}

p { 
  font-family: monospace;
  color: white;
}

.nav-item { 
  font-family: monospace;
  font-size: x-large;
}

.my-picture {
  border-radius: 25px;
  height: 100px;
  max-width: 50px;
  margin: 0;
  padding: 0;
  align-self: flex-end;
}

.picture-container {
  float: right;
  width: 50%;
  height: auto;
}

img {
  width: 175%;
  height: auto;
}

.navbar {
  background-color: #52297A;
}

.card {
  background-color: black;
  margin-top: 20px;
  margin-left: 25px;
  margin-right: auto;
  text-align: center;
}

.card-header {
  color: white;
  text-align: center;
}

.card-body {
  background-color:black;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  border: 1px solid white;
}

@media (max-width: 540px) {
  .card-body {
    background-color:black;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border: 1px solid white;
    width: 100%;
    height: 15vw;
  }
}

.card-img-top {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  width: 100%;
  height: 27vw;
  object-fit: cover;
}

@media (max-width: 540px) {
  .card-img-top {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    width: 100%;
    height: 50vw;
    object-fit: cover;
  }
}

.btn { 
  background-color: #52297A;
  color: white;
  font-family: monospace;
}

/* My black&white picture */
.float-right {
    float: right;
    margin-right: 20px;
    border-radius: 20px;
}
/*-------------------------*/

.float-left {
    float: left;
    margin-left: 20px;
}

.card.img {
    height:5px;
    width:20%;
}

.indexfooter {
  background-color: #52297A;
  bottom: 0;
  left: 0;
  right: 0;
}  

.footer {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: left;
}  

/*================ STYLING FOR CONTACT PAGE ===================*/

/* Section for Input Form */
.contact-body {
  margin-top: 20px;
  padding: 0px;
  height: fit-content;
  border-radius: 20px;
  border: 1px solid white;
  background-color: black;
  color: white;
  margin-left: 20px;
  margin-right: 20px;
}

.form-group {
  font-family: monospace;
  font-size: large;
  margin-top: 25px;
  margin-left: 25px;
  margin-right: 25px;
  margin-bottom: 25px;
}

.contact-footer {
width: auto;
text-align: center;
font-weight: bold;
font-size: 15px;
margin: auto;
}

/* Section for Social Media Icons */
.contact {
  font-family: monospace;
  justify-content: center;
  background-color:#52297A;
  border-radius: 20px;
  margin-top: 25px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.phone-icon {
  color: white;
}

.envelope-icon {
  color: white;
}

.pdf-icon {
  color: white;
}

.fa-map-marker {
  color: white;
}

.contact-footer .footer-left, 
.contact-footer .footer-center,
.contact-footer .footer-right {
  display: inline;
  vertical-align: top;
  margin-right: 0px;
  padding: 10px;
  text-align: center;
}

.contact-footer .About span {
  display: block;
  color:white;
  font-size: 35px;
  font-weight: bold;
  margin-bottom: 25px;
}

.contact-footer .contact-icons {
  margin-top: 40px;
}

.contact-body .contact-icons a {
  display: inline-block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  font-size: 25px;
  text-align: center;
  line-height: 38px;
  margin-right: 20px;
  margin-bottom: 5px;
}

.contact-footer .footer-center i {
  font-size: 19px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  text-align: center;
  line-height: 35px;
  margin: 10px 15px;
  vertical-align: middle;
}

.contact-footer .footer-center i.fa-envelope {
  font-size: 20px;
  margin-left: 5px;
  text-align: center;
}

.contact-footer .footer-center p {
  display: inline-block;
  font-size: 20px;
  vertical-align: middle;
  margin: 0;
}

/* For small phone screens of 320px max */
@media (max-width: 320px) {
  .contact-footer .footer-center p {
    font-size: 15px;
  }
}

.contact-footer .footer-center p span {
  display: block;
  font-weight: normal;
  font-size: 15px;
  line-height: 0;
  margin: 5px;
}

.contact-footer .footer-center p a {
  color: white;
}

.contact-footer .footer-right {
  width: 50%;
}

.contact-footer h2 {
  color: white;
  font-weight: bold;
  margin: auto;
}

.contact-footer .Menu {
  color: white;
  margin: 20px 0 12px; 
  padding: 0;
  font-size: 25px;
}

.contact-footer .Menu a {
  display: inline-block;
  line-height: 1.8;
  text-decoration: underline;
  color: white;
}

.contact-footer .Menu a:hover {
  color: grey;
}

.contact-footer .Myname {
  color: white;
  font-size: 15px;
  font-weight: normal;
  margin: 0;
}

/* Technical Skills Section */

.skill-area {
  margin: 80px 0px 40px 0px;
}

.skills {
  max-width: 293px;
  height: 290px;
  margin-left: auto;
  margin-right: auto;
}

.skill-wrap { 
  width: 100%;
  height: 100%;
  border: 1px solid white;
  text-align: center;
  display: block;
  border-radius: 20px;
  margin-bottom: 25px;
}

.skill-wrap i {
  margin-top: 40px;
  transition: all 0.3s ease;
}

.skill-wrap p{ 
  padding: 0px 40px;
  font-size: 13px;
}

.skill-wrap:hover i {
  color: white;
}

.skill-wrap h3{
  margin: 10px 0px;
}

.pe-dj {
  font-size: 5em;
  color: white;
}

/* Spacing between Heading and technical skills row */
.block_title {
  margin-bottom: 20px;
}

/* Spacing between index footer and technical skills row */
.container {
  margin-bottom: 150px;
}